<div>
    <h2 id="page-heading">
        <span jhiTranslate="tiendavirtualApp.sucursal.home.title">Sucursals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sucursal" [routerLink]="['/sucursal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tiendavirtualApp.sucursal.home.createLabel">
            Create a new Sucursal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sucursals?.length === 0">
        <span jhiTranslate="tiendavirtualApp.sucursal.home.notFound">No sucursals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sucursals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tiendavirtualApp.sucursal.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="tiendavirtualApp.sucursal.direccion">Direccion</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sucursal of sucursals ;trackBy: trackId">
                    <td><a [routerLink]="['/sucursal', sucursal.id, 'view']">{{ sucursal.id }}</a></td>
                    <td>{{ sucursal.nombre }}</td>
                    <td>{{ sucursal.direccion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sucursal', sucursal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sucursal', sucursal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sucursal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
