<div>
    <h2 id="page-heading">
        <span jhiTranslate="tiendavirtualApp.envio.home.title">Envios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-envio" [routerLink]="['/envio/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tiendavirtualApp.envio.home.createLabel">
            Create a new Envio
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="envios?.length === 0">
        <span jhiTranslate="tiendavirtualApp.envio.home.notFound">No envios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="envios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="tiendavirtualApp.envio.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detalles"><span jhiTranslate="tiendavirtualApp.envio.detalles">Detalles</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoLocalizacion"><span jhiTranslate="tiendavirtualApp.envio.codigoLocalizacion">Codigo Localizacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="factura.id"><span jhiTranslate="tiendavirtualApp.envio.factura">Factura</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let envio of envios ;trackBy: trackId">
                    <td><a [routerLink]="['/envio', envio.id, 'view']">{{ envio.id }}</a></td>
                    <td>{{ envio.fecha }}</td>
                    <td>{{ envio.detalles | date:'medium' }}</td>
                    <td>{{ envio.codigoLocalizacion }}</td>
                    <td>
                        <div *ngIf="envio.factura">
                            <a [routerLink]="['/factura', envio.factura?.id, 'view']" >{{ envio.factura?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/envio', envio.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/envio', envio.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(envio)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="envios?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
