.contenedorProductos{
  width: 70%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  }

  .contenedorProductos__productos{
  margin-bottom: 20px;
  }

  .prodTitulo> a{
  color: #000 !important;
  // font-weight: bold;
  // font-size: 1.3rem;
  }
  .prodPrecio{
    color: #000 !important;
    font-weight: bold;
  }

  .contenedorCategoriasLayout{
    // width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // border:1px solid #000;
    text-align: center;
    margin: 0 auto;
    grid-gap: 20px;
    margin-bottom: 30px;
  }

  .contenedorCategoria{
    background-color: #55efc4;
    display:inline-flex;
    color: black;
    padding: 30px 40px;
    font-weight: bold;
    border-radius: 25px;
  }


  .banner{
    // width: 70%;
    height: 500px;
    background-color: rgb(238,251,254);

    display: flex;
    align-items: center;
    justify-content: center;

    .contenedorInfo{
      text-align: center;
      p{
        font-weight: bold;
        font-size: 2.4em;
        font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
      }
      h5{
        margin-bottom: 28px;
      }

    }
  }
.contenedorBuscador{
  max-width: 50%;
  margin: 0 auto;
}
