<div>
    <h2 id="page-heading">
        <span jhiTranslate="tiendavirtualApp.producto.home.title">Productos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/producto/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tiendavirtualApp.producto.home.createLabel">
            Create a new Producto
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productos?.length === 0">
        <span jhiTranslate="tiendavirtualApp.producto.home.notFound">No productos found</span>
    </div>
    <span class="mr-2 col-2">Filter by name</span>
    <!-- <input type="search" class="form-control" [(ngModel)]="filtroPost"> -->

    <div class="table-responsive" id="entities" *ngIf="productos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="tiendavirtualApp.producto.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="tiendavirtualApp.producto.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="precio"><span jhiTranslate="tiendavirtualApp.producto.precio">Precio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="talla"><span jhiTranslate="tiendavirtualApp.producto.talla">Talla</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="tiendavirtualApp.producto.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productoCatergoria.id"><span jhiTranslate="tiendavirtualApp.producto.productoCatergoria">Producto Catergoria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos ;trackBy: trackId">
                    <td><a [routerLink]="['/producto', producto.id, 'view']">{{ producto.id }}</a></td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td jhiTranslate="{{ 'tiendavirtualApp.Talla.' + producto.talla }}">{{ producto.talla }}</td>
                    <td>
                        <a *ngIf="producto.image" (click)="openFile(producto.imageContentType, producto.image)">
                            <img [src]="'data:' + producto.imageContentType + ';base64,' + producto.image" style="max-height: 30px;" alt="producto image"/>
                        </a>
                        <span *ngIf="producto.image">{{ producto.imageContentType }}, {{ byteSize(producto.image) }}</span>
                    </td>
                    <td>
                        <div *ngIf="producto.productoCatergoria">
                            <a [routerLink]="['/producto-categoria', producto.productoCatergoria?.id, 'view']" >{{ producto.productoCatergoria?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/producto', producto.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/producto', producto.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(producto)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
