<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span jhiTranslate="tiendavirtualApp.stock.detail.title">Stock</span> {{ stock.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tiendavirtualApp.stock.cantidad">Cantidad</span></dt>
                <dd>
                    <span>{{ stock.cantidad }}</span>
                </dd>
                <dt><span jhiTranslate="tiendavirtualApp.stock.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="stock.producto">
                        <a [routerLink]="['/producto', stock.producto?.id, 'view']">{{ stock.producto?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tiendavirtualApp.stock.sucursal">Sucursal</span></dt>
                <dd>
                    <div *ngIf="stock.sucursal">
                        <a [routerLink]="['/sucursal', stock.sucursal?.id, 'view']">{{ stock.sucursal?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
