
<div class="container">

    <mat-horizontal-stepper>
        <mat-step class="asd">
            <ng-template matStepLabel>Tus productos</ng-template>

            <div *ngIf="(productos$ | async | groupBy ) as productos">
                <p class="alert alert-warning" role="alert" *ngIf="productos.length === 0">No hay productos</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre del producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let producto of productos">
                        <tr>
                            <td class="img-thumbnail" style="max-width: 100px;">
                                <img [src]="'data:' + producto.imageContentType + ';base64,' + producto.image" class="card-img-top"  alt="producto image"/>
                            </td>
                            <td>
                                {{ producto.nombre }}
                            </td>
                            <td>
                                {{ producto.precio  | currency: 'COP' }}
                            </td>
                            <td class="font-weight-bold">
                                {{producto.quantity}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Datos Personales</ng-template>
            <h3 class="text-center mb-4">Ingresa tus datos personales</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control mt-2" [formControl]="nombreField"    name="" id="" placeholder="Ingresar nombre completo">
                    <input type="text" class="form-control mt-2" [formControl]="apellidoField"  name="" id="" placeholder="Ingresar apellido completo">
                    <input type="text" class="form-control mt-2" [formControl]="ciudadField"    name="" id="" placeholder="Ingresar la Ciudad">
                    <input type="text" class="form-control mt-2" [formControl]="direccionField" name="" id="" placeholder="Ingresar la Direccion">
                    <input type="text" class="form-control mt-2" [formControl]="telefonoField"  name="" id="" placeholder="Ingresa tu telefono">


                    <!-- <input [formControl]="nombreCategoriaField" type="text" class="form-control mt-2" placeholder="nombreCategoriaField">
                    <input [formControl]="descripcionCategoriaField" type="text" class="form-control mt-2" placeholder="descripcionCategoriaField"> -->
                    <!-- {{nombreCategoriaField.valid}}, {{nombreCategoriaField.invalid}} -->
                    <div class="alert alert-danger mt-3" role="alert" *ngIf="nombreField.invalid || apellidoField.invalid || ciudadField.invalid || direccionField.invalid || telefonoField.invalid">
                        Algun campo esta vacio.
                    </div>
                    <button class="btn btn-primary mt-3" *ngIf="nombreField.valid || apellidoField.valid || ciudadField.valid || direccionField.valid || telefonoField.valid">Guardar Datos</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <form>
                <div class="form-group">

                    <label for="pago">Método de pago:</label>
                    <select id="pago" class="form-control">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta de Credito</option>
                        <option value="Tarjeta">Tarjeta de Debito</option>
                    </select>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <form>
                <div class="form-group">

                    <label for="pago">Método de pago:</label>
                    <select id="pago" class="form-control">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta de Credito</option>
                        <option value="Tarjeta">Tarjeta de Debito</option>
                    </select>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<script>
    // mat-step-icon mat-step-icon-state-number mat-step-icon-selected
    const a = document.querySelector("mat-icon");
    a.style.display = 'none'

</script>
<style>
    .mat-step-label {
  background-color: blue;
  color: #ffffff;
}

</style>
